
<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar bar-stylistApp bar-stylistApp-borderbottom">
  <h2 class="title">Password recover</h2>
  </ion-header-bar>

  <ion-content class="has-header has-footer padding full-height text-center">
    <div style="padding-top:50px;">
      <h3 class="sans-pro-light">Please enter your email to reset the password</h3>
    
      <label class="item item-input">
        <input type="text" placeholder="email">
      </label>
      
 
      <button class="button button-block button-energized">RESET PASSWORD</button>
    
    </div>
  </ion-content>


  <ion-footer-bar class="bar bar-stylistApp bar-stylistApp-bordertop pointer" ui-sref="app.login">
    <h1 class="title sans-pro-light">Back to login</h1>
  </ion-footer-bar>

</ion-view>
