
<ion-view hide-nav-bar="true">
  

  <ion-content class="padding full-height">
    <h1 class="text-center white-color home-title">
        Connect with Style!
    </h1>
    
    <h3 class="white-color text-center sans-pro-light">
        <i class="ion-scissors" style="font-size:5em;"></i><br>
		Signup<br>
    </h3>
	
    <label class="item item-input">
        <input type="text" placeholder="email">
	</label>
	
    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
                <button class="button button-block button-energized" ui-sref="app.account">SIGNUP</button>        
        </div>
        <div class="col col-20"></div>
    </div>
    
    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <button class="button button-positive button-block" ui-sref="app.login">Already a Member?</button>        
        </div>
        <div class="col col-20"></div>
    </div>
  </ion-content>

 

</ion-view>
