<ion-view view-title="Welcome!" hide-back-button="true">

    <ion-nav-buttons side="right">
    <span ui-sref="app.clients" >
      <button class="button button-clear icon white-color">
        <i class="ion-person-stalker" style="font-size:2em;"></i>
      </button>
    </span>
	
	<span ui-sref="app.feed" >
      <button class="button button-clear icon white-color">
        <i class="ion-ios-paper" style="font-size:2em;"></i>
      </button>
    </span>
	
	
    </ion-nav-buttons>
	
	

  <ion-content>


    
  </ion-content>
</ion-view>
